services:
  postgres:
    container_name: postgres-sql-lingua
    image: postgres
    environment:
      POSTGRES_PASSWORD: lingua123456
      PGDATA: /var/lib/postgresql/data
      POSTGRES_DB: lingua_hub
    volumes:
      - postgres:/data/postgres
    ports:
      - "5433:5432"
    networks:
      - spring-demo
  mail-dev:
    container_name: mail-dev
    image: maildev/maildev
    ports:
      - "1080:1080"
      - "1025:1025"
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: user-name@domain-name.com
      PGADMIN_DEFAULT_PASSWORD: strong-password
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - spring-demo
networks:
  spring-demo:
    driver: bridge

volumes:
  postgres:
  pgadmin-data:
